[submodule "lib/SDL"]
	path = lib/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "lib/SDL_image"]
	path = lib/SDL_image
	url = https://github.com/libsdl-org/SDL_image
[submodule "lib/box2d"]
	path = lib/box2d
	url = https://github.com/erincatto/box2d
